<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MyNotes | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
</head>

<body>
    <header>
        <h1>MyNotes</h1>
        {% if current_user.is_authenticated %}
        <p>Welcome, {{ current_user.username }} | <a href="{{ url_for('logout') }}">Log Out</a></p>
        {% endif %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>